.conteiner{
    padding:40px 32px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "header"
                         "buttons"
                         "experience"
                         "infos";
}

@media (min-width: 768px){
    .conteiner{
        padding: 70px 60px;
        height: 100vh;
        grid-template-columns: 60% 30%;
        grid-template-rows: fit-content(100%);
        align-items: center;
        justify-content: space-between;
        justify-items: start;
        grid-template-areas: "header infos"
                             "experience empty"
                             "empty2 buttons";
    }
}
