.section-title{
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: var(--text-primary);
    width: 100%;
    font-size: 25px;

    @media (min-width:1080px){
        font-size: 30px;
        line-height: 36px; 
        text-align: start;
        width: 100%;
    }
}