.social{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 75px;
    gap: 15px;
}

.buttons{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content:center;
}