.infos{
    display: flex;
    flex-direction: column;
    grid-area: infos;
    width: 100%;
    gap: 15px;
    align-items: center;
    max-width: 500px;

    .educational-Info{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;

        .emoji{
            font-size: 30px;
        }

        span{
            font-size: 18px;
        }
    }

    .languages-info{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        font-size: 20px;

        span{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 15px;
        }

        @media (min-width: 1080px){
            margin-left: 50px;
        }
    }
}